<div class="post" data-name="the_name" data-city="the_city" date-date="{{Predate}}">
  <div class="inner-container">
    <div class="post-info-container">
      <a href="{{URL}}" class="post-title">{{Title}}</a>
      <div class="post-description">{{Description}}</div>
      <div class="bottom">
        <div id="left">
          <div class="post-date">{{Postdate}}</div>
          <div class="post-city">{{Address}}</div>
        </div>
        <div id="right">
          <input type="button" value="Interested" id="myButton10" class="post-button"></input>
        </div>
      </div>
    </div>
    <div class= photo-add>
      <img src="{{ImageURL}}" alt="">
    </div>
  </div>
</div>
